body {
  background: #f9f9f9;
}

svg {
  background: #fff;
}

.links line {
  stroke: #ddd;
  stroke-width: 3px;
}

.nodes .node circle {
    fill: blue;
    stroke: #fff;
    stroke-width: 3px;
 }

.nodes .node.active circle {
    fill: red;
}

text.id {
  font: 12px sans-serif;
  pointer-events: none;
  text-anchor: middle;
  font-weight: bold;
  fill: white;
}

.connectView__wrapper {
  position: relative;
  height: 800px;
  width: 400px;
}

.connectView {
  position:absolute;
  width: 100%;
  height: 100%;
}
